// import

@import "../variables.scss";

.basket {
   .basket__wrapper {
      width: 70%;
      margin: 100px auto 0 auto;
      .basket__header {
         display: flex;
         justify-content: space-between;
         align-items: center;
         border-bottom: 1px solid $second;
         padding-bottom: 20px;
         margin-bottom: 40px;
         .basket__header-left,
         .basket__header-right .basket__header-button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 32px;
            gap: 20px;
            font-family: "Nunito Sans", sans-serif;
            background: none;
            img {
               opacity: 1;
            }
         }
         .basket__header-left {
            img {
               filter: brightness(2);
            }
            span {
               color: $first;
               font-weight: bold;
            }
         }
         .basket__header-right {
            .basket__header-button {
               color: $second;
               gap: 20px;
               font-size: 24px;
               transition: all 0.3s;
               img {
                  transition: all 0.1s;
                  opacity: 0.75;
                  width: 24px;
                  height: 24px;
               }
               &:hover {
                  transition: all 0.3s;
                  color: $first;
                  img {
                     transition: all 0.1s;
                     opacity: 1;
                  }
               }
            }
         }
      }
      .basket__body {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      .basket__footer {
         display: flex;
         justify-content: flex-end;
         align-items: center;
         border-top: 1px solid $second;
         padding-top: 20px;
         margin-top: 40px;
         padding-bottom: 50px;
         .basket__total-price {
            flex: 74%;
            display: flex;
            justify-content: flex-end;
            .basket__total-price-value {
               font-family: "Nunito Sans", sans-serif;
               color: $first;
               font-size: 24px;
            }
         }
         .basket__confirm {
            display: flex;
            justify-content: flex-end;
            flex: 15%;
            .basket__confirm-button {
               border-radius: 25px;
               padding: 5px 25px;
               font-family: "Nunito Sans", sans-serif;
               background: $first;
               color: $bg;
               box-shadow: rgba(255, 255, 255, 0.3) 0 0 15px;
               font-size: 36px;
               transition: all 0.4s;
            }
         }
      }
      .basket__empty {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 20px;
         .basket__title {
            font-size: 58px;
            font-family: $Nunito;
            color: $first;
            span {
               color: $sixth;
            }
         }
         p,
         a {
            font-family: $Nunito;
            color: $seventh;
            max-width: 60%;
            margin: 15px 0;
            font-size: 32px;
            text-align: center;
         }
         a {
            border-bottom: 1px solid $seventh;
            transition: all 0.3s;
            &:hover {
               color: $first;
               border-bottom: 1px solid $first;
               transition: all 0.3s;
            }
         }
         img {
            max-width: 25vw;
         }
      }
   }
}
